body{
    font-family: "Poppins", sans-serif;
    background-color: #b4b2c2;
}

.about-box{
    background-color: #9c9ba4;
    transition: transform 0.2s ;
}

.about-box:hover{
    transform:scale(1.05);
}

.navbar{
    box-shadow: 0 2px 5px black;
}

.product-card{
    margin-bottom: 20px;
    transition: transform 0.2s box-shadow 0.2s;
}

.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4 15px rgb(40, 40, 40);
}

footer{
    background-color: rgba(55, 55, 55, 0.321);
}

.form-control{
    border-radius: 0;
}


